.wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /*margin: 25px 200px 25px;*/
}

.container {
    max-width: 500px;
    margin: 100px auto 25px;
    padding: 50px;
    color: #c8c8c8;
    background-color: #282c34;
    border-radius: 5px;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.imageCircle {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #ff94b6;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.image {
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center top;
}

.formAuth {
    display: flex;
}

.inputAuth {
    position: relative;
    padding: 10px 10px 10px;
    width: 100%;
    border-radius: 10px;
    border: 3px solid #4f556e;
    font-size: 16px;
    color: #c8c8c8;
    background: transparent;
}

.inputAuth::placeholder {
    font-weight: bold;
    color: #4f556e;
}

.inputAuth:focus {
    border: 3px solid #c8c8c8;
    transition: 0.5s;
}

.labelCheckbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.labelCheckbox p{
    margin-left: 10px;
    text-align: left;
}
.checkbox {
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

.btn {
    color: black;
    background-color: cornflowerblue;
    height: 35px;
    width: auto;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.btn:active {
    transform: translateY(1px);
}
.btn:disabled {
    background-color: grey;
}

.links {
    display: flex;
    justify-content: space-between;
}
.links a{
    color: cornflowerblue;
    font-size: 14px;
}
.links a:hover{
    color: #4a6fad;
}

.footer {
    padding-top: 30px;
    color: #7e7f86;
    font-size: 14px;
}